*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
input{
    display: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 70%;
    margin: 10% auto;
}
.slider{
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    overflow: hidden;
    max-width: 80vw;
    height: 100%;
}
.slider__items{
    width: 400%;
    height: 100%;
    display: flex;
}
.item{
    width: 25%;
    transition: all 0.7s ease;
}
.item img{
    border-radius: 2%;
    max-width: 100%;
    height: 100%;
}
.navigation{
    display: flex;
    justify-content: end;
}
.navigation__item{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid gray;
    margin-left: 2%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navigation__item:hover{
    background-color: black;
    border: 2px solid black;
}
.slider__text{
    width: 400%;
    height: 100%;
    display: flex;
    transition: all 0.1s ease-in-out;
}
.item__text{
    margin-top: 3%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    width: 25%;
    transition: all 0.7s ease;
}
#s1:checked ~ .slider__items> .s1{
    margin-left: 0;
}
#s2:checked ~ .slider__items> .s1{
    margin-left: -25%;
}
#s3:checked ~ .slider__items> .s1{
    margin-left: -50%;
}
#s4:checked ~ .slider__items> .s1{
    margin-left: -75%;
}
#s1:checked ~ .slider__text> .t1{
    margin-left: 0;
}
#s2:checked ~ .slider__text> .t1{
    margin-left: -25%;
}
#s3:checked ~ .slider__text> .t1{
    margin-left: -50%;
}
#s4:checked ~ .slider__text> .t1{
    margin-left: -75%;
}
#s1:checked ~ .navigation> .item1,
#s2:checked ~ .navigation> .item2,
#s3:checked ~ .navigation> .item3,
#s4:checked ~ .navigation> .item4{
	border: 2px solid black;
}
#s1:checked ~ .navigation> .item1:hover,
#s2:checked ~ .navigation> .item2:hover,
#s3:checked ~ .navigation> .item3:hover,
#s4:checked ~ .navigation> .item4:hover{
	border: 2px solid gray;
    background-color: gray;
}
@media (max-width: 750px) {
    .navigation{
        justify-content: center;
        margin-top: 5%;
    }
    .slider__text{
        order: 2;
    }
    .item__text{
        font-size: medium;
    }
}
